#container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.itens{
    background-color: wheat;
    border: 2px solid black;
    text-align: center;
}

#item-1{
    grid-column: 3 / 8;     /*primeiro valor do start, segundo valor do end*/

    /* grid-column-start: 3;  onde a celula iniciara em colunas */
    /* grid-column-end: 8;    onde a celula terminara em colunas */

    grid-row: 2 / 3;   /*primeiro valor do start, segundo valor do end*/

    /* grid-row-start: 2;     onde a celula iniciara em linha */
    /* grid-row-end: 3;       onde a celula terminara em linha */
}

#item-2{
    grid-column: 4 / 7;
    /* grid-column-start: 4;
    grid-column-end: 7; */
    grid-row: 3 / 3;
    /* grid-row-start: 3;*/
} 

#item-3{
    grid-column: 5 / 6;
    /* grid-column-start: 5;
    grid-column-end: 6; */
    grid-row: 4 / 4;
    grid-row-start: 4;
}

#item-8{
    font-size: 12px;
    width: 80%;
    height: 50%;
    place-self: center center;  /* junção de: justify-self: center; align-self: center; */
}